/* Basic styling */
* {margin: 0; padding: 0; border: 0; vertical-align: baseline;}
html {box-sizing: border-box;}
*, *:before, *:after {box-sizing: inherit;}
html, body {height: 100%; margin: 0;}

body {
  font-family: "Segoe UI", sans-serif;
  background-color: #1A2933;
}

h1 {
  margin: 0 0 10px 0;
  font-weight: 600;
  line-height: 1.2;
}

p {
  margin-top: 10px;
  color: rgba(255,255,255,0.4);
}

/* Styling of window frame and titlebar */
body {
  border: 1px solid #1A2933;
  overflow-y: hidden;
}

#titlebar {
  background: #1A2933;

  display: block;
  position: fixed;
  height: 32px;
  width: calc(100% - 2px);
  z-index: 2;
}

.maximized #titlebar {
  width: 100%;
  padding: 0;
}

#main {
  height: 100%;
  overflow-y: auto;
}

#titlebar {
  padding: 4px;
}

#titlebar #drag-region {
  width: 100%;
  height: 100%;
  -webkit-app-region: drag;
}

#titlebar {
  color: #FFF;
}

#titlebar #drag-region {
  display: grid;
  grid-template-columns: auto 138px;
}

#window-title {
  grid-column: 1;
  display: flex;
  align-items: center;
  margin-left: 8px;
  overflow: hidden;
  font-family: "Segoe UI", sans-serif;
  font-size: 12px;
}

.maximized #window-title {
  margin-left: 12px;
}

#window-title span {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  line-height: 1.5;
}

#window-controls {
  display: grid;
  grid-template-columns: repeat(3, 46px);
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
}

#window-controls {
  -webkit-app-region: no-drag;
}

#window-controls .button {
  grid-row: 1 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

@media (-webkit-device-pixel-ratio: 1.5), (device-pixel-ratio: 1.5),
(-webkit-device-pixel-ratio: 2), (device-pixel-ratio: 2),
(-webkit-device-pixel-ratio: 3), (device-pixel-ratio: 3) {
  #window-controls .icon {
    width: 10px;
    height: 10px;
  }
}

#window-controls .button {
  user-select: none;
}

#window-controls .button:hover {
  background: rgba(255,255,255,0.1);
}

#window-controls .button:active {
  background: rgba(255,255,255,0.2);
}

#close-button:hover {
  background: #E81123 !important;
}

#close-button:active {
  background: #F1707A !important;
}
#close-button:active .icon {
  filter: invert(1);
}

#min-button {
  grid-column: 1;
}
#max-button, #restore-button {
  grid-column: 2;
}
#close-button {
  grid-column: 3;
}

#restore-button {
  display: none !important;
}

.maximized #restore-button {
  display: flex !important;
}

.maximized #max-button {
  display: none;
}

.sidebar {
  height: 100%;
  width: 60px;
  position: fixed;
  /*z-index: 1;*/
  top: 20px;
  left: 0;
  background: #1A2933;
  overflow-x: hidden;
  margin-top: 13px;
  transition: 0.5s;
}
/* The navigation menu links */
.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.2s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
  padding-left: 19px;
}

a.social-active {
  color: #fff;
  font-weight: bold;
  border-left: solid;
}

.sidebar-btn {
  cursor: pointer;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.content {
  padding-left: 59px;
  padding-top: 32px;
  height: 100%;
  background-color: #f1f1f1;
}

.webview {
  height: 100%;
  transition: 0.2s;
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
}

.settings {
  background-color: #f1f1f1;
  text-align: center;
  height: 100%;
  padding-top: 45px;
}

.settings h1 {
  color: #1A2933;
}

.btn {
  cursor: pointer;
  margin: 5px;
  padding: 10px;
  font-size: 1.25rem;
  border-radius: 10px;
  color: #fff;
  background-color: #0069d9;
  white-space: nowrap;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn:hover {
  color: #fff;
  background-color: #0b4165;
  border-color: #0b4165;
}

.settings-watermark {
  padding-bottom: 5px;
  padding-left: 60px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #818181;
  text-align: center;
}

.watermark-link {
  color: #919191;
  text-decoration: none;
  font-weight: 500
}

.setup {
  padding-top: 32px;
  height: 100%;
  background-color: #1a2933;
  text-align: center;
  height: 100%;
  padding-top: 45px;
  border: 1px transparent; 
}

.setup h1 {
  margin-top: 32px;
  color: #f1f1f1;
  animation: fadein 1.5s cubic-bezier(.57,.6,.58,.87);
}

.setup p {

  color: #A1A1A1;
  padding-left: 20%;
  padding-right: 20%;
  text-align: center;
  animation: fadein 1.7s cubic-bezier(.57,.6,.58,.87);
}

.setup-row::after {
  box-sizing: border-box;
  content: "";
  clear: both;
  display: table;
  padding-left: 15%;
  padding-right: 15%;
}

[class*="col-"] {
  float: left;
  padding: 15px;
  padding-bottom: 30px;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/* ANIMS */

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes fadeout {
  from { opacity: 1; }
  to   { opacity: 0; }
}

.fade-in {
  animation: fadein 1s;
}

.fade-out {
  animation: fadeout 1s;
}

@keyframes fadeinsetup {
  from { opacity: 0; transform: translateY(20px); }
  to   { opacity: 1; transform: translateY(0px);}
}

.fade-in-setup {
  animation: fadeinsetup 1s;
}

.setup-icon {
  font-size: 3rem;
  color: #f1f1f1;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #0066FF;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.social-confirm-btn {
  padding-bottom: 20px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: #818181;
  text-align: center;
  background-color: #1A2933;
  /*animation: fadein 1.7s cubic-bezier(.57,.6,.58,.87);*/
}

@keyframes social-sequential {
  100% { opacity: 1;}
}

#fade-socials div {
  animation: social-sequential .5s forwards;
}

#fade-socials div:nth-child(1) {
  animation-delay: .5s;
}

#fade-socials div:nth-child(2) {
  animation-delay: .5s;
}

#fade-socials div:nth-child(3) {
  animation-delay: .5s;
}

#fade-socials div:nth-child(4) {
  animation-delay: .5s;
}

#fade-socials div:nth-child(5) {
  animation-delay: .5s;
}
#fade-socials div:nth-child(6) {
  animation-delay: .5s;
}

.loading {
  text-align: center;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-fadein {
  animation: sbfi 1s;
}

@keyframes sbfi {
  from {transform: translateX(-32px)};
  to {transform: translateX(0px)}
}

.first-time-text {
  font-weight: 400;
  margin-left: 5px;
}

.settings-icon {
  font-size: 3rem;
  color: #1A2933;
}

@keyframes sbizi {
  0% {transform: scale(0); height: 0px; padding-top: 0px; margin-top: 0px;  padding-bottom: 0px; margin-bottom: 0px}
  75% {transform: scale(1.15); height: 50px;}
  100% {transform: scale(1); height: 45px;}
}

.sidebar-icon-zoomin {
  animation: sbizi 0.51s;
}

@keyframes sbizo {
  from {transform: scale(1); height: 45px;}
  to {transform: scale(0);  height: 0px; padding-top: 0px; margin-top: 0px;  padding-bottom: 0px; margin-bottom: 0px}
}

.sidebar-icon-zoomout {
  animation: sbizo 0.51s;
}

.win-pane {
  height: 100%;
}