.sidebarNoNative {
	height: 100%;
	width: 60px;
	position: fixed;
	/*z-index: 1;*/
	top: 20px;
	left: 0;
	background: #1a2933;
	overflow-x: hidden;
	margin-top: 13px;
	transition: 0.5s;
}

.sidebarNative {
	height: 100%;
	width: 60px;
	position: fixed;
	/*z-index: 1;*/
	top: 0;
	left: 0;
	background: #1a2933;
	overflow-x: hidden;
	transition: 0.5s;
}
