.setup-icon {
	color: #f1f1f1;
}

.setup-fade {
	animation: setupFade 1s ease forwards;
	animation-delay: calc(var(--order) * 100ms);
	opacity: 0;
}

@keyframes setupFade {
	from {
		opacity: 0;
		transform: translateY(-10px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

.social-confirm-btn {
	position: absolute;
	bottom: 25px;
	right: 25%;
	left: 50%;
	margin-left: -50%;
	width: 100vw;
}
